@import "compass/css3";

#container{
	text-align: center;
}
table{
	text-align: center;
	border: 1px solid #ccc;
	margin: auto;
}

table tr{
	border: 1px solid #ccc;
}

table tr td{
	padding: 10px;
}

#thead{
	background-color: #d5ecc2;
}

#tbody{
	font-size: 0.7em;
}